WFAServiceSample/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9070/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9070/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9070/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceSample" />
      <xsd:import schemaLocation="http://localhost:9070/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServiceSample.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ToplamaYap_InputMessage">
    <wsdl:part name="parameters" element="tns:ToplamaYap" />
  </wsdl:message>
  <wsdl:message name="IService1_ToplamaYap_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToplamaYapResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_OgrenciEkle_InputMessage">
    <wsdl:part name="parameters" element="tns:OgrenciEkle" />
  </wsdl:message>
  <wsdl:message name="IService1_OgrenciEkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:OgrenciEkleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_KategoriSelect_InputMessage">
    <wsdl:part name="parameters" element="tns:KategoriSelect" />
  </wsdl:message>
  <wsdl:message name="IService1_KategoriSelect_OutputMessage">
    <wsdl:part name="parameters" element="tns:KategoriSelectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UrunSelect_InputMessage">
    <wsdl:part name="parameters" element="tns:UrunSelect" />
  </wsdl:message>
  <wsdl:message name="IService1_UrunSelect_OutputMessage">
    <wsdl:part name="parameters" element="tns:UrunSelectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_kategoriSec_InputMessage">
    <wsdl:part name="parameters" element="tns:kategoriSec" />
  </wsdl:message>
  <wsdl:message name="IService1_kategoriSec_OutputMessage">
    <wsdl:part name="parameters" element="tns:kategoriSecResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UrunSec_InputMessage">
    <wsdl:part name="parameters" element="tns:UrunSec" />
  </wsdl:message>
  <wsdl:message name="IService1_UrunSec_OutputMessage">
    <wsdl:part name="parameters" element="tns:UrunSecResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_productUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:productUpdate" />
  </wsdl:message>
  <wsdl:message name="IService1_productUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:productUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ToplamaYap">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ToplamaYap" message="tns:IService1_ToplamaYap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ToplamaYapResponse" message="tns:IService1_ToplamaYap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OgrenciEkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OgrenciEkle" message="tns:IService1_OgrenciEkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OgrenciEkleResponse" message="tns:IService1_OgrenciEkle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KategoriSelect">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/KategoriSelect" message="tns:IService1_KategoriSelect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/KategoriSelectResponse" message="tns:IService1_KategoriSelect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UrunSelect">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UrunSelect" message="tns:IService1_UrunSelect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UrunSelectResponse" message="tns:IService1_UrunSelect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="kategoriSec">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/kategoriSec" message="tns:IService1_kategoriSec_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/kategoriSecResponse" message="tns:IService1_kategoriSec_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UrunSec">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UrunSec" message="tns:IService1_UrunSec_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UrunSecResponse" message="tns:IService1_UrunSec_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="productUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/productUpdate" message="tns:IService1_productUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/productUpdateResponse" message="tns:IService1_productUpdate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToplamaYap">
      <soap:operation soapAction="http://tempuri.org/IService1/ToplamaYap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OgrenciEkle">
      <soap:operation soapAction="http://tempuri.org/IService1/OgrenciEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KategoriSelect">
      <soap:operation soapAction="http://tempuri.org/IService1/KategoriSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UrunSelect">
      <soap:operation soapAction="http://tempuri.org/IService1/UrunSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kategoriSec">
      <soap:operation soapAction="http://tempuri.org/IService1/kategoriSec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UrunSec">
      <soap:operation soapAction="http://tempuri.org/IService1/UrunSec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="productUpdate">
      <soap:operation soapAction="http://tempuri.org/IService1/productUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:9070/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>