ConsoleApplicationSample/Service References/MyService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:36758/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceSample" />
  <xs:import schemaLocation="http://localhost:36758/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServiceSample.DTO" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceSample" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceSample" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToplamaYap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sayi1" type="xs:int" />
        <xs:element minOccurs="0" name="sayi2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToplamaYapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ToplamaYapResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OgrenciEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceSample" minOccurs="0" name="instance" nillable="true" type="q3:Ogrenci" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OgrenciEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceSample" minOccurs="0" name="OgrenciEkleResult" nillable="true" type="q4:Ogrenci" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KategoriSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KategoriSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceSample.DTO" minOccurs="0" name="KategoriSelectResult" nillable="true" type="q5:CategoriesDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductSelectByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductSelectByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceSample.DTO" minOccurs="0" name="ProductSelectByIDResult" nillable="true" type="q6:ProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceSample.DTO" minOccurs="0" name="GetAllCategoriesResult" nillable="true" type="q7:ArrayOfCategoriesDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductSelectByCategoryID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductSelectByCategoryIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceSample.DTO" minOccurs="0" name="ProductSelectByCategoryIDResult" nillable="true" type="q8:ArrayOfProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>