ConsoleApplication1/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceSample.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceSample.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CategoriDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CatID" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoriDTO" nillable="true" type="tns:CategoriDTO" />
  <xs:complexType name="ProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="KategoriAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KategoriID" type="xs:int" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="UrunAd" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDTO" nillable="true" type="tns:ProductDTO" />
  <xs:complexType name="ArrayOfCategoriDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoriDTO" nillable="true" type="tns:CategoriDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoriDTO" nillable="true" type="tns:ArrayOfCategoriDTO" />
  <xs:complexType name="ArrayOfProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDTO" nillable="true" type="tns:ProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDTO" nillable="true" type="tns:ArrayOfProductDTO" />
</xs:schema>